# backup files

*#*#
*.swp
~*

# compiled files

*.pyc

# password files

*labrynth*

# environment files
env
.idea

# Lambda package file
deploymentpackage.zip
awscliv2.zip
# Config
envVar.py
setEnvironVariables-local.sh
dependencyPackage*
libInsight_venv/